/*
	7.3. Table
			7.3.1. tablet
			

 */


.slider-homesimple{
	.slick-prev:before,
	.slick-next:before {
	   display:none;
	}
}
.blog-home{
	.blog-post-item{
		margin-bottom:30px;
	}
}

.wrap-filter-box.wrap-filter-number{
	display:none;
}
.wrap-filter-box.filter-half.wrap-filter-number.right{
	display:table-cell;
}