{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h2>{{ product.name }}</h2><br/>
        <img src="{{ product.image.url }}" style="width: 110px; height: 110px;" alt=""/>
        <p>{{ product.information | safe }}</p>
        <hr/>
        {% if request.user.is_authenticated %}
            <a href="{% url 'home:like' product.id %}" class="btn btn-info">lile: {{ product.like_count }}</a>
        {% endif %}
        {% if is_like %}
        {% endif %}
        <br/>
        {% if product.status == 'Size' %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for var in variants %}
                    <label>{{ var.size }}
                        <input type="radio" value="{{ var.id }}" {% if variant.id == var.id %}checked{% endif %}
                               name="select" onchange="this.form.submit();">
                    </label>
                {% endfor %}
            </form>
        {% endif %}
        {% if product.status == 'Color' %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for var in variants %}
                    <label>{{ var.color }}
                        <input type="radio" value="{{ var.id }}" {% if variant.id == var.id %}checked{% endif %}
                               name="select" onchange="this.form.submit();">
                    </label>
                {% endfor %}
            </form>
        {% endif %}
        <hr>
        {% for tag in similar %}
            <a href="{{ tag.get_absolute_url }}"><img src="{{ tag.image.url }}" alt=""
                                                      style="height: 100px; width: 100px;"></a>
        {% endfor %}
    </div>
{% endblock %}
