{% extends 'base.html' %}
{% load jformat %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/comments-and-rating.css' %}">
{% endblock %}
{% block scripts %}
    {% if product.status != None %}
        <script>
            const labels = [{% for vpt in variant_price_tracker %}{% if vpt.variant_id == variant.id %}'{{ vpt.update|jformat:"%B %Y" }}', {% endif %}{% endfor %}];
            if (labels.length) {
                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'نمودار تغییر قیمت 1',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [{% for vpt in variant_price_tracker %}{% if vpt.variant_id == variant.id %}'{{ vpt.unit_price }}', {% endif %}{% endfor %}],
                    }]
                };
                const config = {
                    type: 'line',
                    data: data,
                    options: {}
                };
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        </script>
    {% else %}
        <script>
            const labels = [{% for pt in price_tracker %}'{{ pt.update|jformat:"%B %Y" }}', {% endfor %}];
            if (labels.length) {
                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'نمودار تغییر قیمت 2',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [{% for pt in price_tracker %}'{{ pt.unit_price }}', {% endfor %}],
                    }]
                };
                const config = {
                    type: 'line',
                    data: data,
                    options: {}
                };
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        </script>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ product.name }}</h2><br/>
        <img src="{{ product.image.url }}" style="width: 140px; height: 140px;  box-shadow: #2f56ff 0 0 8px;" alt=""/>
        <p>{{ product.information | safe }}</p>
        {% if is_liked %}
            <a href="{% url 'home:like' product.id %}"><i class="fa fa-heart" style="color: red; font-size: 25px;"></i></a>
        {% else %}
            <a href="{% url 'home:like' product.id %}"><i class="fa fa-heart-o"
                                                          style="color: red; font-size: 25px;"></i></a>
        {% endif %}
        <span class="btn btn-info">like:{{ product.like_count }}</span>
        {% if is_favourite %}
            <a href="{% url 'home:favourite' product.id %}">
                <i class="fa fa-bookmark" style="color: #000062; font-size: 25px;"></i>
            </a>
        {% else %}
            <a href="{% url 'home:favourite' product.id %}">
                <i class="fa fa-bookmark-o" style="color: black; font-size: 25px;"></i>
            </a>
        {% endif %}
        <hr/>
        {% if product.status == 'Size' %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for var in variants %}
                    <label>{{ var.size }}
                        <input type="radio" value="{{ var.id }}" {% if variant.id == var.id %}checked{% endif %}
                               name="select" onchange="this.form.submit();">
                    </label>
                {% endfor %}
            </form>
        {% elif product.status == 'Color' %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for var in variants %}
                    <label>{{ var.color }}
                        <input type="radio" value="{{ var.id }}" {% if variant.id == var.id %}checked{% endif %}
                               name="select" onchange="this.form.submit();">
                    </label>
                {% endfor %}
            </form>
        {% endif %}
        <br>
        <div class="cart bg-info col-3 text-center mb-2 text-white" style="border-radius: 4px;">
            <h5 class="pt-3" style="font-size: 16px;">قیمت مدل انتخابی شما:
                {% if product.status != 'None' %}
                    {% if variant.discount > 0 %}
                        <s style="font-size: 14px; color: red;">{{ variant.unit_price }}</s>
                    {% endif %}
                    <div style="color: #2cb96e; text-shadow: #843534 0 0 4px;">{{ variant.total_price }}</div>
                {% else %}
                    {% if variant.discount > 0 %}
                        <s style="font-size: 14px; color: red;">{{ product.unit_price }}</s>
                    {% endif %}
                    <div style="color: #78d9a5; text-shadow: #843534 0 0 4px;">{{ product.total_price }}</div>
                {% endif %}
            </h5>
            <hr>
            <h6>
                {% if product.status != 'None' %}
                    {% if variant.amount > 0 %}
                        موجود در انبار
                    {% else %}
                        <span style="color: red; font-size: 14px;">
                            اتمام موجودی
                        </span>
                    {% endif %}
                {% else %}
                    {% if product.amount > 0 %}
                        موجود در انبار
                    {% else %}
                        اتمام موجودی
                    {% endif %}
                {% endif %}
            </h6>
        </div>

        <div class="cart">
            {% if variant.amount > 0 %}
                {% if product.status != 'None' %}
                    <form method="post" action="{% url 'cart:add_cart' product.id %}" class="form-control col-2">
                        {% csrf_token %}
                        <input type="hidden" name="varid" value="{{ variant.id }}">
                        <input type="number" name="quantity" min="1" value="1" max="{{ variant.amount }}" required
                               oninvalid="setCustomValidity('تعداد بیش از حد موجودی است')" style="height: 25px;">
                        <button class="btn btn-success" type="submit">افزودن به سبد خرید</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'cart:add_cart' product.id %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" min="1" value="1" max="{{ product.amount }}" required
                               oninvalid="setCustomValidity('تعداد بیش از حد موجودی است')" style="height: 25px;">
                        <button class="btn btn-success" type="submit">افزودن به سبد خرید</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>


        <div>
            <canvas id="myChart" width="150" height="50"></canvas>
        </div>

        <h3>محصولات مشابه</h3><br>
        <div class="row ml-2">
            {% for tag in similar %}
                <a href="{{ tag.get_absolute_url }}">
                    <img src="{{ tag.image.url }}" alt=""
                         style="height: 80px; width: 80px; box-shadow: #2f56ff 1px 1px 5px; border-radius: 3px">
                </a>
            {% endfor %}
        </div>
        <hr>

        <div class="row comment">
            <div class="col-6">
                <form method="post" action="{% url 'home:comment' product.id %}">
                    {% csrf_token %}
                    <div class="card">
                        <div class="row">
                            <div class="col-12">
                                <div class="comment-box">
                                    <h4>نظر بدهید!</h4>
                                    <div class="rating">
                                        <input type="radio" name="rate" value="5" id="5"><label for="5">&star;</label>
                                        <input type="radio" name="rate" value="4" id="4"><label for="4">&star;</label>
                                        <input type="radio" name="rate" value="3" id="3"><label for="3">&star;</label>
                                        <input type="radio" name="rate" value="2" id="2"><label for="2">&star;</label>
                                        <input type="radio" name="rate" value="1" id="1"><label for="1">&star;</label>
                                    </div>
                                    <br/>
                                    <div class="comment-box">
                                        <textarea name="comment" class="form-control" rows="4" required
                                                  oninvalid="setCustomValidity('باکس نظر نباید خالی باشد')"></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger">ارسال نظر</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
        <h4> {{ product.id }}میانگین رضایت: </h4>
        {% for comment in comments %}
            <div class="card bg-dark text-white">
                <div class="row comment-rating">
                    <div class="col-8">
                        <p><b>{{ comment.user.username }}</b>:</p>
                    </div>
                    <div class="col-4">
                        <div class="comment-rating">
                            <i class="fa fa-star{% if comment.rate < 1 %}-o empty  {% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 2 %}-o empty  {% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 3 %}-o empty  {% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 4 %}-o empty  {% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 5 %}-o empty  {% endif %}"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.comment }}</p>
                </div>
                <div class="row">
                    <div class="p-2 m-2">
                        <a href="{% url 'home:comment_like' comment.id %}" class="like m-2 cursor">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span>like:</span>
                            {{ comment.like_count }}
                        </a>
                    </div>
                </div>
                <form method="post" action="{% url 'home:reply_comment' product.id comment.id %}">
                    {% csrf_token %}
                    <textarea name="comment" id="comment" class="form-control" placeholder="reply..." rows="4" required
                              oninvalid="setCustomValidity('باکس نظر نباید خالی باشد')"></textarea>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-info">ثبت ریپلای</button>
                    </div>
                </form>
                {% for recom in comment.comment_replied.all %}
                    <div class="bg-secondary text-white mt-2 pl-2">
                        <p><b>{{ recom.user.username }}:</b></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ recom.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
