{% extends 'base.html' %}
{% load static %}
{% block title %}Dev Shop{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
    <div class="header-center">
        <div class="container container-240">
            <div class="row flex">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 v-center header-logo">
                    <a href="#"><img src="{% static 'img/logo.png' %}" alt="" class="img-reponsive"></a>
                </div>
                <div class="col-lg-7 col-md-7 v-center header-search hidden-xs hidden-sm">
                    <form method="get" class="searchform ajax-search" action="/search" role="search">
                        <input type="hidden" name="type" value="product">
                        <label>
                            <input type="text" onblur="if (this.value==='') this.value = this.defaultValue"
                                   onfocus="if (this.value===this.defaultValue) this.value = ''" name="q"
                                   class="form-control"
                                   placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید ...">
                        </label>
                        <ul class="list-product-search hidden-xs hidden-sm">
                            <li>
                                <a class="flex align-center" href="">
                                    <div class="product-img">
                                        <img src="{% static 'img/product/iphonex.jpg' %}" alt="">
                                    </div>
                                    <h3 class="product-title">گوشی موبایل سونی مدل اکسپریا ایکس دو سیم کارت</h3>
                                </a>
                            </li>
                            <li>
                                <a class="flex align-center" href="">
                                    <div class="product-img">
                                        <img src="{% static 'img/product/sound.jpg' %}" alt="">
                                    </div>
                                    <h3 class="product-title">گوشی موبایل سونی مدل اکسپریا ایکس دو سیم کارت</h3>
                                </a>
                            <li>
                                <a class="flex align-center" href="">
                                    <div class="product-img">
                                        <img src="{% static 'img/product/phone4.jpg' %}" alt="">
                                    </div>
                                    <h3 class="product-title">گوشی موبایل سونی مدل اکسپریا ایکس دو سیم کارت</h3>
                                </a>
                            </li>
                            <li>
                                <a class="flex align-center" href="">
                                    <div class="product-img">
                                        <img src="{% static 'img/product/phone5.jpg' %}" alt="">
                                    </div>
                                    <h3 class="product-title">گوشی موبایل سونی مدل اکسپریا ایکس دو سیم کارت</h3>
                                </a>
                            </li>
                            <li>
                                <a class="flex align-center" href="">
                                    <div class="product-img">
                                        <img src="{% static 'img/product/phone1.jpg' %}" alt="">
                                    </div>
                                    <h3 class="product-title">گوشی موبایل سونی مدل اکسپریا ایکس دو سیم کارت</h3>
                                </a>
                            </li>
                        </ul>
                        <div class="search-panel">
                            <a class="dropdown-toggle" data-toggle="dropdown" href='#'>همه دسته بندیها <span
                                    class="fa fa-caret-down"></span></a>
                            <ul id="category" class="dropdown-menu dropdown-category">
                                <li><a href="#">کالای دیجیتال</a></li>
                                <li><a href="#">مد و پوشاک</a></li>
                                <li><a href="#">دوربین های دیجیتال</a></li>
                                <li><a href="#">گوشی های موبایل</a></li>
                                <li><a href="#">لوازم تحریر</a></li>
                                <li><a href="#">خودرو و لوازم</a></li>
                            </ul>
                        </div>
                        <span class="input-group-btn">
                            <button class="button_search" type="button"><i class="ion-ios-search-strong"></i></button>
                        </span>
                    </form>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6 v-center header-sub">
                    <div class="right-panel">
                        <div class="header-sub-element hidden-xs hidden-sm">
                            <div class="sub-left">
                                <img src="{% static 'img/icon-call.png' %}" alt="">
                            </div>
                            <div class="sub-right">
                                <span>سوالی داری مطرح کن</span>
                                <div class="phone">(+123) 456 789</div>
                            </div>
                        </div>
                        <div class="header-sub-element row">
                            <a class="hidden-xs hidden-sm" href=""><img src="{% static 'img/icon-user.png' %}"
                                                                        alt=""></a>
                            <a href="#"><img src="{% static 'img/icon-heart.png' %}" alt=""></a>
                            <div class="cart">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false" id="label5">
                                    <img src="{% static 'img/icon-cart.png' %}" alt="">
                                    <span class="count cart-count">0</span>
                                </a>
                                <div class="dropdown-menu dropdown-cart">
                                    <ul class="mini-products-list">
                                        <li class="item-cart">
                                            <div class="product-img-wrap">
                                                <a href="#"><img src="{% static 'img/cart1.jpg' %}" alt=""
                                                                 class="img-reponsive"></a>
                                            </div>
                                            <div class="product-details">
                                                <div class="inner-left">
                                                    <div class="product-name"><a href="#">ظرف غذای سفری گودی مدل
                                                        ۷۱۰۸ </a></div>
                                                    <div class="product-price">
                                                        99 هزار تومان <span>( x2)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="e-del"><i class="ion-ios-close-empty"></i></a>
                                        </li>
                                        <li class="item-cart">
                                            <div class="product-img-wrap">
                                                <a href="#"><img src="{% static 'img/cart1.jpg' %}" alt=""
                                                                 class="img-reponsive"></a>
                                            </div>
                                            <div class="product-details">
                                                <div class="inner-left">
                                                    <div class="product-name"><a href="#">ظرف غذای سفری گودی مدل
                                                        ۷۱۰۸ </a></div>
                                                    <div class="product-price">
                                                        99 هزار تومان <span>( x2)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="e-del"><i class="ion-ios-close-empty"></i></a>
                                        </li>
                                    </ul>
                                    <div class="bottom-cart">
                                        <div class="cart-price">
                                            <span>جمع کل</span>
                                            <span class="price-total">99 هزار تومان</span>
                                        </div>
                                        <div class="button-cart">
                                            <a href="#" class="cart-btn btn-viewcart">سبد خرید</a>
                                            <a href="#" class="cart-btn e-checkout btn-gradient">صورتحساب</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="hidden-md hidden-lg icon-pushmenu js-push-menu">
                                <i class="fa fa-bars f-15"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for category in categories %}
            <a href="{{ category.get_absolute_url }}">
                <h3>{{ category.name }}</h3>
                <img src="{{ category.image.url }}" style="width: 110px; height: 110px;" alt=""/>
            </a>
        {% endfor %}
    </div>
{% endblock %}