{% extends 'base.html' %}
{% load static %}
{% block title %}Dev Shop{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
    <div class="container">
        <form method="post" action="{% url 'home:product_search' %}">
            <div class="form-group col-3">
                {% csrf_token %}
                <input name="search" class="form-control" type="text" placeholder="search here…">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </form>
        <div class="row">
            {% for category in categories %}
                <div class="col-3 mb-2 mt-2">
                    <a href="{{ category.get_absolute_url }}">
                        <h3>{{ category.name }}</h3>
                        <img src="{{ category.image.url }}" style="width: 150px; height: 150px; border-radius: 8px; box-shadow: #1d1d1d 2px 1px 5px;" alt=""/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}