{% extends 'base.html' %}
{% load static %}
{% block title %}سبد خرید{% endblock %}
{% block body %}
    <div class="container">
        <div class="row m-3">
            <h1>سبد خرید</h1>
            <hr>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">محصول</th>
                    <th scope="col">سایز</th>
                    <th scope="col">رنگ</th>
                    <th scope="col">قیمت(تخفیف)</th>
                    <th scope="col">تعداد</th>
                    <th scope="col">قیمت نهایی(تومان)</th>
                    <th scope="col">حذف از سبد</th>
                </tr>
                </thead>
                <tbody class="table-bordered" style="font-size: 15px;">
                {% for cart in carts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <div><img src="{{ cart.product.image.url }}" style="width: 110px;" alt=""/></div>
                            {{ cart.product.name }}
                        </td>
                        <td>{{ cart.variant.size.name }}</td>
                        <td>{{ cart.variant.color.name }}{{ cart.variant.size.color.name }}</td>
                        <td>
                            {% if cart.product.status != 'None' %}
                                <div>{{ cart.variant.total_price }}</div>
                                <s>{{ cart.product.unit_price }}</s>
                            {% else %}
                                <div>{{ cart.product.total_price }}</div>
                                <s>{{ cart.product.unit_price }}</s>
                            {% endif %}
                        </td>
                        <td>
                            <div>
                                <form method="post" action="{% url 'cart:add_cart' cart.product.id %}">
                                    {% csrf_token %}
                                    {% if product.status != 'None' %}
                                        <input type="hidden" name="varid" value="{{ cart.variant.id }}">
                                        <input type="hidden" name="quantity" id="quantity{{ cart.variant.id }}" min="1"
                                               value="1" max="{{ cart.variant.amount }}" required
                                               oninvalid="setCustomValidity('تعداد بیش از حد موجودی است')"
                                               class="form-control" style="height: 25px;">
                                        <button class="btn btn-success" type="submit">
                                            <i class="fa fa-angle-up" style="font-size: 14px;"></i>
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="quantity" id="quantity{{ cart.product.id }}" min="1"
                                               value="1" max="{{ cart.product.amount }}" required
                                               oninvalid="setCustomValidity('تعداد بیش از حد موجودی است')"
                                               class="form-control" style="height: 25px;">
                                        <button class="btn btn-success" type="submit">
                                            <i class="fa fa-angle-up" style="font-size: 14px;"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                            <span id="quantity">{{ cart.quantity }}</span>
                            <div>
                                <form method="post" action="{% url 'cart:add_cart' cart.product.id %}">
                                    {% csrf_token %}
                                    {% if product.status != 'None' %}
                                        <input type="hidden" name="varid" value="{{ cart.variant.id }}">
                                        <input type="hidden" name="quantity" id="quantity{{ cart.variant.id }}" min="-1"
                                               value="-1" max="{{ cart.variant.amount }}" required
                                               oninvalid="setCustomValidity('تعداد بیش از حد موجودی است')"
                                               class="form-control" style="height: 25px;">
                                        <button class="btn btn-success" type="submit">
                                            <i class="fa fa-angle-down" style="font-size: 14px;"
                                               onclick="remove('{{ cart.variant.id }}')"></i>
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="quantity" id="quantity{{ cart.product.id }}" min="-1"
                                               value="-1" max="{{ cart.product.amount }}" required
                                               oninvalid="setCustomValidity('تعداد بیش از حد موجودی است')"
                                               class="form-control" style="height: 25px;">
                                        <button class="btn btn-success" type="submit">
                                            <i class="fa fa-angle-down" style="font-size: 14px;"
                                               onclick="remove('{{ cart.product.id }}')"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        </td>
                        <td>
                            {% if cart.product.status != 'None' %}
                                {% widthratio cart.variant.total_price 1 cart.quantity %}
                            {% else %}
                                {% widthratio cart.product.total_price 1 cart.quantity %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'cart:remove_cart' cart.id %}">
                                <i class="fa fa-trash" style="color: red; font-size: 40px;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6"></td>
                    <td>{{ total }}</td>
                    <td>جمع نهایی</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row m-5">
            {% if user.is_authenticated %}
                <button class="btn btn-outline-success font-weight-bold" type="button" onclick="return IsEmpty();"
                        style="font-size: 13px;">
                    <a href="{% url 'order:create' %}" style="text-decoration: none; color: #ff4d00;">افزودن به لیست
                        سفارش</a>
                </button>
            {% else %}
                <p class="text-warning" style="font-size: 14pt;">برای ایجاد سفارش باید ثبت نام کنید</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/cart.js' %}"></script>
    <script>
        document.getElementById('postalcode').placeholder = "این فیلد نباید خالی باشد";

        function IsEmpty() {
            if (document.forms['order'].postalCode.value === "") {
                alert("کد پستی نباید خالی باشد");
                return false;
            }
            return true;
        }


        function add(id, pid) {
            const quan = $("#quantity" + id).val();
            const max = $("#quantity" + id).attr('max');
            let quantity = 0;
            quantity += parseInt(quan) + 1;
            if (quantity <= max) {
                $("#quantity" + id).val(quantity);
                $.ajax({
                    url: "{% url 'cart:add_single_cart' %}",
                    type: "GET",
                    data: {variant_id: id, product_id: pid, quantity: 1},
                    success: function (data) {
                        alert(quantity)
                        alert(data)
                    },
                    error: function (data) {
                        alert(quantity)
                        alert(data)
                    }
                })
            }
        }

        $("#remove-form").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            const form = $(this);
            const actionUrl = form.attr('action');

            $.ajax({
                type: "GET",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function (response) {
                    $("quantity").html(response.quantity)
                }
            }).done(function (response) {
                $("quantity").html(response.quantity)
            });

        });
    </script>
{% endblock %}