{% include 'base.html' %}
{% block css %}
    <style>
        /* Dropdown Button */
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 10px;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #134d73;
            box-shadow: darkorange 0 0 3px;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {
            display: block;
        }
    </style>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                const dropdowns = document.getElementsByClassName("dropdown-content");
                let i;
                for (i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>سبد خرید</h1>
        <hr>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">نام</th>
                <th scope="col">کدپستی</th>
                <th scope="col">آدرس</th>
                <th scope="col">محصولات</th>
                <th scope="col">کد تخفیف</th>
                <th scope="col">قیمت نهایی</th>
                <th scope="col">وضعیت</th>
            </tr>
            </thead>
            <tbody class="table-bordered" style="font-size: 15px;">
            {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ order.first_name }}&nbsp;{{ order.last_name }}</td>
                    <td>{{ order.postal_code }}</td>
                    <td>{{ order.address }}</td>
                    <td>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">نمایش لیست</button>
                            <div id="myDropdown" class="dropdown-content">
                                {% for item in order.items.all %}
                                    {% if item.product.status != 'None' %}
                                        <a class="dropdown-item" href="{% url 'home:detail' item.product.slug %}">
                                            {{ forloop.counter }}. {{ item.variant.name }}
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'home:detail' item.product.slug %}">
                                            {{ forloop.counter }}. {{ item.product.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="" method="post" class="form-control">
                            {% csrf_token %}
                            <label for="coupon" style="font-size: 12px;">اگه کد تخفیف داری بزن
                                <input name="code" id="coupon" style="width: 110px;">
                            </label>
                            <button type="submit" class="btn btn-success">اعمال</button>
                        </form>
                    </td>
                    <td>
                        {{ order.price }}
                    </td>
                    <td>
                        {% if order.paid %}
                            <i class="fa fa-check" style="color: green;"></i>
                            پرداخت شده
                        {% else %}
                            <i class="fa fa-times" style="color: red;"></i>
                            منتظر پرداخت
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}