.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	padding: 20px; 
	width: 450px;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 6px;
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f;
}


.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}


.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: goldenrod;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}

.comment-rating i {
    color: goldenrod;
}
.cursor:hover {
    color: blue
}
.cursor {
    cursor: pointer
}