{% extends 'base.html' %}
{% load static %}
{% block title %}ثبت نام{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="{% static 'account/css/register.css' %}">#}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>ثبت نام</h1>
        <form action="{% url 'account:register' %}" method="post" novalidate="" class="col-6">
            {% csrf_token %}
            {#            {{ form.as_p }}#}
            {% if form %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="row">
                <label for="username"> نام کاربری
                    <input type="text" name="username" id="username" class="form-control" placeholder=""/>
                </label>
                <label for="email"> ایمیل
                    <input type="text" name="email" id="email" class="form-control" placeholder=""/>
                </label>
            </div>
            <div class="row">
                <label for="first-name"> نام و نام خانوداگی
                    <input type="text" name="first_name" id="first-name" class="form-control" placeholder=""/>
                </label>
{#                <label for="lastname"> last name#}
{#                    <input type="text" name="last_name" class="form-control" id="lastname" placeholder=""/>#}
{#                </label>#}
            </div>
            <div class="row">
                <label for="pass1"> رمز
                    <input type="password" name="password1" id="pass1" class="form-control" placeholder=""/>
                </label>
                <label for="pass2"> تکرار رمز
                    <input type="password" name="password2" id="pass2" class="form-control" placeholder=""/>
                </label><br>
            </div>
            <button type="submit" class="btn btn-success">ثبت نام</button>
        </form>
    </div>
{% endblock %}