{% extends 'base.html' %}
{% block title %} حساب کاربری - تغییر رمز{% endblock %}
{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <label>رمز قبلی
            {{ form.old_password }}
        </label> <br/><br/>
        <label>رمز جدید
            {{ form.new_password1 }}
        </label> <br/><br/>
        <label>تکرار رمز جدید
            {{ form.new_password2 }}
        </label> <br/><br/>
        <button type="submit">تغییر رمز عبور</button>
    </form>
{% endblock %}