{% extends 'base.html' %}
{% block title %}اطلاعات حساب - تغییرات{% endblock %}
{% block body %}
    <div class="container">
        <h1>بروزرسانی اطلاعات حساب کاربری</h1>
        <form action="{% url 'account:update' %}" method="post">
            {% csrf_token %}
            {#        {{ user_form.as_p }}#}
            {#        {{ profile_form.as_p }}#}
            <label>نام کاربری
                <input type="text" name="username" id="username" class="form-control" value="{{ user_form.username }}" placeholder=""/>
            </label> <br/><br/>
            <label>نام و نام خانوادگی
                <input type="text" name="first_name" id="first_name" class="form-control" placeholder=""/>
            </label> <br/><br/>
            <label>شماره تلفن
                {{ profile_form.phone }}
            </label> <br/><br/>
            <label>آدرس
                {{ profile_form.address }}
            </label> <br/><br/>
            <button type="submit">تایید</button>
        </form>
    </div>
{% endblock %}
