/*

    6.2. Footer
            6.2.1 Footer version 1
 */

.footer-about {
    ul {
        li {
            font-size: 14px;
            line-height: 24px;
            padding: 10px 0px 4px 32px;
            color: #666666;
        }
        .address {
            background: url('../img/icon-map.png') no-repeat left top;
            background-position: left 14px;
            max-width: 340px;
        }
        .phone {
            background: url('../img/f-phone.png') no-repeat left top;
            background-position: left 14px;
        }
        .email {
            background: url('../img/f-mail.png') no-repeat left top;
            background-position: left 14px;
        }
        .time {
            background: url('../img/f-time.png') no-repeat left top;
            background-position: left 14px;
        }
    }
}

.footer-social {

    margin-top: 32px;
}

.social {
    a {
        width: 46px;
        height: 45px;
        background: #000;
        line-height: 45px;
        @include border-radius(100%);
        @include transition2;
        text-align: center;
        color: #fff;
        margin-right: 15px;
        font-size: 16px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            @include transition2;
            @extend .e-gradient;
        }
    }
}

.footer-block-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;

    @media(min-width: $screen-md) {

        line-height: 40px;
    }
}

.footer-block-content {
    li {
        a {
            line-height: 30px;
            @media(min-width: $screen-xs) {
                line-height:35px;
            }
            color:#666666;
            &:hover {
                color: $color-hover2;
            }
        }
    }
}

.footer-block-phone {
    margin-bottom: 15px;
    @media(min-width: $screen-md) {
        margin-bottom: 28px;
    }
    .phone-desc {
        color: #666;
        margin-bottom: 10px;
        @media(min-width: $screen-md) {
            margin-bottom: 25px;
        }
    }
    .phone-light {
        font-size: 20px;
        @media(min-width: $screen-xs) {
            font-size:24px;
        }
        font-weight: 300;
    }
}

.footer-block-newsletter {
    p {
        color: #666;
        margin-bottom: 30px;
        max-width: 280px;
    }
    .footer-block-title {
        margin-bottom: 4px;
    }
}

.footer-block-newsletter {
    .form_newsletter {
        position: relative;
        @media(min-width: $screen-sm-max) {
            width:402px;
        }
    }
    .form-control {
        height: 50px;
        @include border-radius(5px);
        border: 1px solid #f0f0f0;
        font-size: 12px;
        @include placeholder(12px,
        #aeaeae);
        background: #fff;
        padding-left: 26px;
    }
    .button_mini {
        position: absolute;
        top: 0;
        margin-top: 0;
        right: 0;
        &.btn {
            @include transition2;
            height: 50px;
            -moz-border-radius: 0 5px 5px 0;
            -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            width: 124px;
            line-height: 40px;
        }
    }
}

footer .f-top {
    background: url("../img/f-bg.jpg")no-repeat center;
    background-size: cover;
    padding: 50px 0;
    &.v2 {
        opacity: 0.9;
        background: #fff;
    }
    @media(min-width:$screen-md) {
        padding: 74px 0;
    }
    [class*="col-xs-"] {
        margin-bottom: 30px;
    }

    
    @media(min-width:$screen-md) {
        .row {
            @include flex;
            @include flex-direction(row);
            
        }
        [class*="col-sm-"]:first-child {
            order: 1;
        }
        [class*="col-sm-"]:last-child {
            order: 4;
        }
        [class*="col-sm-"]:nth-child(2) {
            order: 2;
        }
        [class*="col-sm-"]:nth-child(3) {
            order: 3;
        }
    }
    @media(min-width:1681px) {
        [class*="col-lg-"]:last-child {

            @include flex;
            @include justify-content(flex-end);
        }
    }
    @media(min-width:1681px) and (max-width: 1921px) {
        [class*="col-"] {
            padding-left: 20px;
            padding-right: 20px;
        }
        [class*="col-lg-"]:nth-child(2) {
            padding-left: 100px;
        }
        .row {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}

.f-logo {
    margin-bottom: 30px;
}

.f-payment {
    @include flex;
    @include justify-content(flex-end);
}

.f-bottom {
    padding: 16px 0;
    background: #272727;
    @media(min-width: $screen-md) {
        padding: 28px 0;
    }
}

.f-copyright {
    @media(max-width: $screen-xs-max) {
        text-align: center;
    }
    span {
        color: #6d6d6d;
        font-size: 12px;
    }
}

.f-payment {
    img {
        width: 46px;
        height: 46px;
    }
    a {
        margin-left: 10px;
        @media(min-width: $screen-md) {
            margin-left:24px;
        }
    }
}

.f-bottom {
    @media(max-width: $screen-xs-max) {
        [class*="col-xs-"] {
            width:100%;
        }
    }
}